@model BaseModel

<footer class="footer">
    <div class="footer__top">
        <div class="row">
            <div class="col-12 col-md-6 footer__top-logo">
                <a href="Index.html">
                    <img src="@Model.Logo" alt="">
                </a>
            </div>
            <div class="col-12 col-md-6 footer__top-social text-end text">
                <a href="https://twitter.com" target="_blank">
                    <svg class="all fill-white me-3" style="width: 14px; height: 27px">
                        <use xlink:href="../wwwroot/all.svg#icon-facebook"></use>
                    </svg>
                </a>
                <a href="https://www.facebook.com" target="_blank">
                    <svg class="all fill-white me-3" style="width: 24px; height: 24px">
                        <use xlink:href="../wwwroot/all.svg#icon-instagram"></use>
                    </svg>
                </a>
                <a href="https://twitter.com" target="_blank">
                    <svg class="all fill-white" style="width: 27px; height: 22px">
                        <use xlink:href="../wwwroot/all.svg#icon-twitter"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="footer__separator"></div>

    <div class="footer__bottom">
        <div class="row">
            <div class="col-12">
                <p class="text-bottom-footer" style="margin-bottom: 0px;">© @DateTime.Now.Year @Model.CompanyName.</p>
            </div>
        </div>
    </div>

</footer>