<div class="navbar navbar-dark">
    <div class="navbar__brand" >
        <a class="navbar__item" href="Index.html">
            <img src="/wwwroot/img/brand/company-logo.png" alt="">
        </a>

    </div>

    <div class="navbar__menu">
        <button type="button" class="navbar__menu-item hide-tablet" data-toggle="modal" data-target="#onYourFlightModal">

            Whats on my flight
            <svg class="all fill-white" style="width: 31px; height: 31px">
                <use xlink:href="/wwwroot/all.svg#icon-airplane"></use>
            </svg>
        </button>

        <div class="navbar__menu-item has-dropdown">
            <a href="#" class="navbar-link">EN</a>

            <div class="navbar-dropdown d-none">
                <button class="navbar__menu-item">PT</button>
                <button class="navbar__menu-item">ES</button>
            </div>

        </div>

        <button class="navbar__menu-item hide-mobile">
            <svg class="all fill-white" style="width: 18px; height: 18px">
                <use xlink:href="/wwwroot/all.svg#icon-search"></use>
            </svg>
        </button>

        <button class="navbar__menu-item">
            <svg class="all fill-white" style="width: 26px; height: 26px">
                <use xlink:href="/wwwroot/all.svg#icon-help"></use>
            </svg>
        </button>
    </div>
</div>