@model LayoutModel

<div class="navbar navbar-dark">
    <div class="navbar__brand">
        <a class="navbar__item" href="Index.html">
            <img src="@Model.Logo" alt="">
        </a>

    </div>

    <div class="navbar__menu">
        @{
            if (Model.MainPage)
            {
                <button type="button" class="navbar__menu-item hide-tablet" data-toggle="modal" data-target="#onYourFlightModal">
                    Whats on my flight
                    <svg class="all fill-white" style="width: 31px; height: 31px">
                        <use xlink:href="../wwwroot/all.svg#icon-airplane"></use>
                    </svg>
                </button>
            }
        }

        <div class="navbar__menu-item has-dropdown">
            @{
                if (Model.SiteLanguages != null && Model.SiteLanguages.Any())
                {
                    foreach (var language in Model.SiteLanguages)
                    {
                        <a href="../@language.Path/@{@Model.Name}.html" class="navbar-link">@language.Text</a>
                    }
                }
            }
        </div>

        @{
            if (Model.MainPage)
            {
                <button class="navbar__menu-item hide-mobile">
                    <svg class="all fill-white" style="width: 18px; height: 18px">
                        <use xlink:href="../wwwroot/all.svg#icon-search"></use>
                    </svg>
                </button>
            }
        }

        <button class="navbar__menu-item" onclick="window.location.href='FAQs.html';">
            <svg class="all fill-white" style="width: 26px; height: 26px">
                <use xlink:href="../wwwroot/all.svg#icon-help"></use>
            </svg>
        </button>
    </div>
</div>