@model IndexItemViewModel

<div class="col-2 portfolio-item">
    <div class="portfolio-wrap">
        <a class="display-4 nav-link text-dark" href="@{@Model.Name}.html">@Model.Name</a>
        <img src="/wwwroot/img/@Model.Image" class="img-fluid" alt="">
        <h7 class="">@Model.Description</h7>
    </div>
</div>