@page "/MovieDetail"

@Html.Partial("Shared/DetailHeader.cshtml")

<section class="item-details">

    <div class="item-details__info">
        <div class="mb-4">
            <h6>Overview</h6>
            <p>A group of ambitious law students and their brilliant criminal defense professor become involved in a twisted murder plot that promises to change the course of their lives.</p>
        </div>

        <div class="mb-4">
            <h6>Credits</h6>
            <div class="d-flex">
                <div class="item-details__subtitle">
                    <p>Director</p>
                    <p>Cast</p>
                </div>
                <div class="item-details__description">
                    <p>Peter Nowalk</p>
                    <p>Viola Davis, Billy Brown, Jack Falahee</p>
                </div>
            </div>
        </div>

        <div class="mb-4">
            <h6>Information</h6>
            <div class="d-flex">
                <div class="item-details__subtitle">
                    <p>Studio</p>
                    <p>Genre</p>
                    <p>Released</p>
                    <p>Copyright</p>
                </div>
                <div class="item-details__description">
                    <p>ABC</p>
                    <p>Viola Davis, Billy Brown, Jack Falahee</p>
                    <p>2014</p>
                    <p>2021 Disney/Pixar ©</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-4">
        <h6>Related</h6>

        <div class="row row-cols-lg-5 ">
            <div class="col col-4">

                <a href="#">
                    <div class="search-results__item">
                        <img src="img/content/AllAmericanS1.jpg" />
                        <div class="search-results__item-type">
                            <svg class="all fill-white">
                                <use xlink:href="all.svg#icon-tv"></use>
                            </svg>
                        </div>
                    </div>

                </a>

                <p class="search-results__item-title mb-0 mt-3">All American, <span>S1</span></p>
                <p class="search-results__item-info"><span>2018</span> | <span>1h58 min</span></p>

            </div>
            <div class="col col-4">

                <a href="#">
                    <div class="search-results__item">
                        <img src="img/content/bigweekend.jpg" />
                        <div class="search-results__item-type">
                            <svg class="all fill-white">
                                <use xlink:href="all.svg#icon-tv"></use>
                            </svg>
                        </div>
                    </div>

                </a>

                <p class="search-results__item-title mb-0 mt-3">The Big Bang Theory: <span>Season 12</span></p>
                <p class="search-results__item-info"><span>2018</span> | <span>1h58 min</span></p>

            </div>
            <div class="col col-4">

                <a href="#">
                    <div class="search-results__item">
                        <img src="img/content/Cruella.jpg" />
                        <div class="search-results__item-type">
                            <svg class="all fill-white">
                                <use xlink:href="all.svg#icon-movie"></use>
                            </svg>
                        </div>
                    </div>

                </a>

                <p class="search-results__item-title mb-0 mt-3">Cruella<span></span></p>
                <p class="search-results__item-info"><span>2018</span> | <span>1h58 min</span></p>

            </div>
            <div class="col col-4">

                <a href="#">
                    <div class="search-results__item">
                        <img src="img/content/htga.jpg" />
                        <div class="search-results__item-type">
                            <svg class="all fill-white">
                                <use xlink:href="all.svg#icon-tv"></use>
                            </svg>
                        </div>
                    </div>

                </a>

                <p class="search-results__item-title mb-0 mt-3">How to Get Away with a Murder <span>Season 12</span></p>
                <p class="search-results__item-info"><span>2018</span> | <span>1h58 min</span></p>

            </div>
            <div class="col col-4">

                <a href="#">
                    <div class="search-results__item">
                        <img src="img/content/luca.jpg" />
                        <div class="search-results__item-type">
                            <svg class="all fill-white">
                                <use xlink:href="all.svg#icon-movie"></use>
                            </svg>
                        </div>
                    </div>

                </a>

                <p class="search-results__item-title mb-0 mt-3">Luca <span></span></p>
                <p class="search-results__item-info"><span>2018</span> | <span>1h58 min</span></p>

            </div>
        </div>
    </div>

</section>

<section class="item-all bg-dark py-5 mb-5">
    <div class="item-all__content">
        <h6>All Movies</h6>

        <div class="content-slider">
            SLIDER
        </div>
    </div>

</section>