//Homepage Images

//Movie and TV
$home-slider-item-poster: 283/520;
$home-slider-item-small-poster: 212/315;
$item-poster: 320/461;
$item-audio-poster: 320/320;



//Detail Page Images

//Movie and TV
$detail-header-poster: 320/461;
$detail-related-poster: 484/409;
$detail-all-poster: 284/409;

//TV
$detail-episode-poster: 302/173;
$detail-episode-thumbnail: 136/78;


//Audio
$detail-header-poster-audio: 320/320;
$detail-related-poster-audio: 284/284;

