@model IndexModel

<div class="text-center">
    <h1 class="display-4">Welcome @Model.Title</h1>
    <div class="text-center">
        @{
            foreach (var item in Model.Movies)
            {
                @Html.Partial("/_partials/_MovieDetail.cshtml", item)
            }

            foreach (var item in Model.Tvs)
            {
                @Html.Partial("/_partials/_TvDetail.cshtml", item)
            }

            foreach (var item in Model.Audios)
            {
                @Html.Partial("/_partials/_AudioDetail.cshtml", item)
            }
        }
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
